:not(pre)>code::before,
:not(pre)>code::after {
	content: "";
}

.slidev-layout code {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


footer {
	text-align: center;
}

.slidev-code {
	border: #ddd solid 1px;
}

iframe.jsfiddle {
	border: #ddd solid 1px;
}